body {
    background-color: deepskyblue;
}

div {
    background-color: white;
    color: deepskyblue;
    border-radius: 500px;
    margin-top: 12.5%;
    width: 55%;
    margin-left: 22.5%;
}

p, input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 150px;
    margin-top: 25px;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

input {
    margin-bottom: 75px;
}